@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

figure{
    text-align: center;
    margin: 0;
}

figcaption{ /*alinhado à esquerda, no início da imagem*/
    text-align: left;   
}

img{
    width: 100%;
    height: auto;
}

.janela{
    width: 100%;
    height: auto;
    border: 1px solid #000;
    padding: 0;
    margin: 10px 0;
}

.placar{
    font-family: "Pixelify Sans", sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

p{
    margin: 1.5rem;
}

#maximo{
    margin-left: 2rem;
}

.botoes{    /*os botões devem preencher todo o espaço disponível*/
    display: flex;
    width: auto;
    color: white;
    height: 1.75rem;
    border: 1px solid #000;
}

#botao1, #botao2, #reset{
    flex-grow: 1;
    width: auto;
    border: none;
    color: white;
    border: 1px solid #000;
}

#botao1{
    background-color: green;
}

#botao2{
    background-color: blue;
}

#reset{
    background-color: red;
}

#botao1:hover, #botao2:hover, #reset:hover{
    cursor: pointer;
    background-color: black;
}